.property-sale {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #ccc;
  display: flex;
  width: 100%;
  /* width: 365px; */
  padding: 25px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.rows {
  display: flex;
  padding: 4px 6.042px 6px 5px;
  justify-content: center;
  align-items: center;
  gap: 10.938px;
}

.type {
  color: #666;
text-align: center;
font-size: 15px;
font-family: Inter;
font-weight: 500;
line-height: 22.5px;
}

.property-sale-p {
  color: #000;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 0;
}

.property-type {
  color: #000;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  padding-left: 10px;
}

.list-type {
  color: #666;
  text-align: center;
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  line-height: 22.5px;
}

.type {
  color: #666;
  text-align: center;
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  line-height: 22.5px;
}

.available-property {
  border-radius: 12px;
  background: var(--main-color, #2972fe);
  margin-top: 2em;

  display: flex;
  width: 100%;
  height: 160x;
  padding: 12px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.available-property-p {
  color: #fff !important;
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  line-height: 28.8px;
  text-transform: capitalize;
}

.available-property-btn {
  border-radius: 4px;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  .property-sale {
    width: 100%;
  }

  .available-property {
    width: 100%;
  }
}
