.modern-living {
  font-family: "Merriweather";
    /* font-family: "proxima-soft",sans-serif; */
  font-style: normal;
  font-weight: 700;
  font-size: 64.85px;
  line-height: 86px;
  color: #091638;
}

/* .b {
  margin-top: 100%;
} */

.home-h5 {
  /* font-family: "Open Sans"; */
  font-family: "proxima-soft",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21.25px;
  line-height: 34px;
  color: #091638;
}

.item {
  /* font-family: "Lufga"; */
    font-family: "proxima-soft",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #110229;
}

.card-text-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.card-text-item {
  display: flex;
  align-items: center;
  margin: 0;
}


.dropdown-menuu {
  /* background-color: black; */
  color: black;
}

.card-text {
  font-family: "Lufga";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #110229;
}

.btn-home {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  gap: 10px;

  width: 1104px;
  height: 48px; */

  /* main color */

  background: #2972fe;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.range-text {
  display: "flex";
  justify-content: "space-between";
  width: "50%";
  margin-top: "10px";
}

.offer {
  background-color: #f5f5f5de;
}
.offer-pad {
  padding-top: 3em;
}

.a {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 51.88px;
  line-height: 69px;
  align-items: center;
  color: #1c3988;
}

.offer-p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21.25px;
  line-height: 28px;
  color: #1c3988;
}

.offer-btn {
  border: 2px solid #2972fe;
  border-radius: 4px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  
  display: flex;
  align-items: center;
  text-align: center;
  height: 50%;
 color: #2972fe;
}

@media screen and (max-width: 768px) {
  .offer-btn {
    height: 20%;
  }
}

.card-title {
  color: var(--text-color, #141b2d);
  font-size: 21.248px;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 28.263px;
}

/* .card-Text {
  color: var(--second-color, #1c3988);
  font-size: 17px;
  font-family: Open Sans;
  font-weight: 700;
} */

/* .area {
  color: var(--text-color, #141b2d);
  font-size: 17px;
  font-family: Open Sans;
} */

.image-home {
  background: linear-gradient(
    109.6deg,
    rgba(36, 45, 57, 0) 11.2%,
    rgba(16, 37, 60, 0) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}
.verified {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-family: Montserrat;
  line-height: 18px;
}
.over-lay {
  color: rgba(255, 255, 255, 0.85);
  font-size: 10px;
  font-family: Nunito;
  font-weight: 200;
  line-height: 28px;
  /* display: flex;
  align-items: center; */
}

@media (max-width: 747px) and (max-height: 2145.61px) {
  .my-card-col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
