.estate-header {
  color: #0b5aa9;
  font-size: 28px;
  font-family: Inter;
  font-weight: 700;
  line-height: 38px;
}

/* .img-background {
  display: m;
  width: 292px;
  padding: 50px 93px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 6px;
  background: #eff4ff;
} */

.w {
    display: flex;
width: 102.294px;
height: 22px;
flex-direction: column;
justify-content: center;
}

.estate-name {
    color: #073462;
font-size: 23px;
font-family: Inter;
font-weight: 500;
text-transform: capitalize;

}

.estate-p {
    color: #304963;
font-size: 13px;
font-family: Inter;
font-weight: 500;
}

.blue-icon {
  color: blue;
  margin-right: 3px;
}

.green-icon {
  color: green;
  margin-left: 20px;
}

